html {
  width: 100%;
  height: 100%;
}
body {
  background-size: 100% 100%;
}
/*css resert*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: ”;
}
abbr,
acronym {
  border: 0;
}
/* resert over*/
.maincontaioner {
  width: 1920px;
  height: 1080px;
  background: url("../images/bg.jpg");
  background-size: 100% 100%;
}
.maincontaioner .logo {
  width: 110px;
  height: 59px;
  background: url("../images/logo.png");
  background-size: 100% 100%;
  position: absolute;
  left: 29px;
  top: 37px;
}
.maincontaioner .pay-list-warp {
  width: 295px;
  height: 389px;
  background: url("../images/pay-list-warp.png");
  background-size: 100% 100%;
  position: absolute;
  left: 125px;
  top: 176px;
}
.maincontaioner .pay-list-box {
  width: 259px;
  height: 293px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  left: 20px;
}
.maincontaioner .pay-list-box ul.pay-list {
  position: absolute;
  top: 0;
  left: 0;
  animation: right-list 10s infinite linear;
}
.maincontaioner .pay-list-box ul.pay-list li {
  width: 253px;
  height: 50px;
  background: url("../images/pay-list-bg.png");
  background-size: 100% 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 50px;
  padding-left: 56px;
  box-sizing: border-box;
}
.maincontaioner .waiter-list-warp {
  width: 330px;
  position: absolute;
  top: 176px;
  right: 70px;
}
.maincontaioner .waiter-list-warp .waiter-list li {
  width: 330px;
  height: 84px;
  background: url("../images/waiter-list-bg.png");
  background-size: 100% 100%;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 84px;
  padding-left: 74px;
  box-sizing: border-box;
}
.maincontaioner .waiter-list-warp .waiter-list li span {
  color: #fff;
}
.maincontaioner .pay-display {
  width: 744px;
  height: 743px;
  background: url("../images/pay-display-bg.png");
  background-size: 100% 100%;
  position: absolute;
  top: 77px;
  right: 590px;
}
.maincontaioner .pay-display img {
  width: 136px;
  height: 136px;
  position: absolute;
  left: 132px;
  top: 52px;
  border-radius: 50%;
}
.maincontaioner .pay-display .payer-name {
  position: absolute;
  left: 498px;
  top: 445px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.maincontaioner .pay-display .payer-money {
  position: absolute;
  left: 498px;
  top: 465px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.maincontaioner .pay-list-favicon {
  width: 100%;
  position: absolute;
  top: 741px;
  left: 0;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li {
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/favico-bg.jpg");
  padding: 10px;
  box-sizing: border-box;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 9;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(1) {
  width: 123px;
  height: 123px;
  position: absolute;
  top: 0;
  left: 80px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(2) {
  width: 144px;
  height: 146px;
  position: absolute;
  top: 62px;
  left: 214px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(3) {
  width: 158px;
  height: 160px;
  position: absolute;
  top: 110px;
  left: 443px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(4) {
  width: 170px;
  height: 168px;
  position: absolute;
  top: 136px;
  left: 705px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(5) {
  width: 170px;
  height: 168px;
  position: absolute;
  top: 136px;
  right: 705px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(6) {
  width: 158px;
  height: 160px;
  position: absolute;
  top: 110px;
  right: 443px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(7) {
  width: 144px;
  height: 146px;
  position: absolute;
  top: 62px;
  right: 214px;
}
.maincontaioner .pay-list-favicon ul.pay-list-ul li:nth-child(8) {
  width: 123px;
  height: 123px;
  position: absolute;
  top: 0;
  right: 80px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(1) {
  width: 149px;
  height: 160px;
  position: absolute;
  top: -31px;
  left: 60px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(2) {
  width: 169px;
  height: 180px;
  position: absolute;
  top: 30px;
  left: 192px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(3) {
  width: 179px;
  height: 195px;
  position: absolute;
  top: 76px;
  left: 426px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(3) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(4) {
  width: 189px;
  height: 205px;
  position: absolute;
  top: 100px;
  left: 686px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(4) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(5) {
  width: 189px;
  height: 205px;
  position: absolute;
  top: 100px;
  left: 1025px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(5) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(6) {
  width: 179px;
  height: 195px;
  position: absolute;
  top: 76px;
  right: 440px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(6) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(7) {
  width: 169px;
  height: 180px;
  position: absolute;
  top: 30px;
  right: 210px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(7) img {
  width: 100%;
  height: 100%;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(8) {
  width: 149px;
  height: 160px;
  position: absolute;
  top: -31px;
  right: 75px;
}
.maincontaioner .pay-list-favicon ul.pay-list-active li:nth-child(8) img {
  width: 100%;
  height: 100%;
}
.warp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.warp .pay-main {
  width: 641px;
  height: 594px;
  background: url("../images/apper-pay.png");
  background-size: 100% 100%;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -320px;
  opacity: 0;
}
.warp .pay-main .payer-name {
  position: absolute;
  left: 438px;
  top: 365px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.warp .pay-main .payer-money {
  position: absolute;
  left: 438px;
  top: 385px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
.warp .pay-main2 {
  width: 641px;
  height: 594px;
  background: url("../images/apper-pay-light.png");
  background-size: 100% 100%;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -320px;
  opacity: 0;
  z-index: 9999;
}
.warp .user-header-img {
  width: 188px;
  height: 204px;
  background: url("../images/favicoacitve.png");
  background-size: 100% 100%;
  position: absolute;
  top: 164px;
  left: 522px;
  z-index: 99;
  opacity: 0;
}
.warp .user-header-img img {
  border-radius: 50%;
  width: 136px;
  height: 136px;
  position: absolute;
  left: 36px;
  top: 50px;
}
.warp .cloudy {
  width: 153px;
  height: 111px;
  background: url("../images/cloudy1.png");
  background-size: 100% 100%;
  position: absolute;
  right: 1000px;
  top: 100px;
  opacity: 0;
}
.warp .cloudy2 {
  width: 77px;
  height: 85px;
  background: url("../images/cloudy2.png");
  background-size: 100% 100%;
  position: absolute;
  left: 1046px;
  top: 160px;
  opacity: 0;
}
.warp .cloudy3 {
  width: 63px;
  height: 59px;
  background: url("../images/cloudy3.png");
  background-size: 100% 100%;
  position: absolute;
  left: 1155px;
  top: 280px;
  opacity: 0;
}
.warp .cloudy4 {
  width: 92px;
  height: 92px;
  background: url("../images/cloudy4.png");
  background-size: 100% 100%;
  position: absolute;
  left: 1020px;
  top: 680px;
  opacity: 0;
}
.warp .cloudy5 {
  width: 69px;
  height: 75px;
  background: url("../images/cloudy5.png");
  background-size: 100% 100%;
  position: absolute;
  left: 800px;
  top: 720px;
  opacity: 0;
}
.warp .cloudy6 {
  width: 97px;
  height: 89px;
  background: url("../images/cloudy6.png");
  background-size: 100% 100%;
  position: absolute;
  left: 650px;
  top: 660px;
  opacity: 0;
}
.warp .cloudy7 {
  width: 85px;
  height: 81px;
  background: url("../images/cloudy7.png");
  background-size: 100% 100%;
  position: absolute;
  left: 560px;
  top: 560px;
  opacity: 0;
}
.warp .cloudy8 {
  width: 42px;
  height: 45px;
  background: url("../images/cloudy8.png");
  background-size: 100% 100%;
  position: absolute;
  left: 560px;
  top: 390px;
  opacity: 0;
}
.warp .cloudy.active {
  animation: cloudy 0.5s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy2.active {
  animation: cloudy1 0.6s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy3.active {
  animation: cloudy2 1s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy4.active {
  animation: cloudy3 1s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy5.active {
  animation: cloudy4 1s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy6.active {
  animation: cloudy5 1s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy7.active {
  animation: cloudy6 1s ease-in;
  animation-fill-mode: forwards;
}
.warp .cloudy8.active {
  animation: cloudy7 1s ease-in;
  animation-fill-mode: forwards;
}
.warp .pay-main.active {
  animation: mainout 0.8s linear;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.warp .pay-main2.active {
  animation: mainout2 0.8s linear;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.warp .user-header-img.active {
  animation: favicon 0.6s linear;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes right-list {
  from {
    top: 0;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    top: -700px;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy {
  from {
    opacity: 0;
    transform: translateY(20rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: scale(1.5, 1.5) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy1 {
  from {
    opacity: 0;
    transform: translateY(20rem) translateX(-10rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: scale(1.5, 1.5) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy2 {
  from {
    opacity: 0;
    transform: rotate(0deg) translateX(-5rem) translateY(5rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: rotate(60deg) translateX(10rem) translateY(-10rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy3 {
  from {
    opacity: 0;
    transform: rotate(0deg) translateX(-2rem) translateY(-5rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: rotate(80deg) translateX(2rem) translateY(2rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy4 {
  from {
    opacity: 0;
    transform: translateY(-20rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy5 {
  from {
    opacity: 0;
    transform: translateY(-20rem) translateX(10rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy6 {
  from {
    opacity: 0;
    transform: translateY(-10rem) translateX(15rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes cloudy7 {
  from {
    opacity: 0;
    transform: translateY(0rem) translateX(15rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes mainout {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(2, 2);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes mainout2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(5, 5);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
@keyframes favicon {
  0% {
    opacity: 1;
    transform: translatey(-50rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  70% {
    opacity: 1;
    transform: translatey(0rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  90% {
    opacity: 1;
    transform: translatey(2rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
  100% {
    opacity: 1;
    transform: translatey(0rem) translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}
